# BACKEND_API_KEY: Secure backend API credential key
API_KEY=

# APP_URL: The URL where this application is hosted
APP_URL=

# JWT_SECRET: Salt used to sign and verify JSON Web Tokens (JWT) for secure API auth
JWT_SECRET=

# ADMIN_USERNAME: Administrative username for dashboard verification
ADMIN_USERNAME=

# ADMIN_PASSWORD: Administrative raw password / key for authorization
ADMIN_PASSWORD=

# ADMIN_JWT_SECRET: Separate security salt to sign Administrative JWT tokens
ADMIN_JWT_SECRET=
